<html>
  <head>
    <title>CouchDB - NodeJS</title>
  </head>
  <style>
    body {
      text-align: center;
    }
    h3 {
      font-size: 45px;
    }
    h4 {
      font-size: 35px;
      text-decoration: underline;
    }

    label {
      font-size: 30px;
    }
    ul {
      margin-right: 40px;
      margin-left: 36%;
    }
    li {
      inline-size: 300px;
    }
  </style>

  <body>
    <h3>Add Coffee:</h3>
    <% if(errors != undefined){ %>
    <ul>
      <% errors.forEach(function(error){ %>
      <li style="color: red"><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form method="POST" action="/coffee/add">
      <label>Coffee Name:</label><br />
      <input type="text" size="50" name="name" /><br />

      <br />
      <label>Coffee Type(Drinkable):</label><br />
      <input type="radio" name="coffee_type" id="hot" value="hot" />HOT
      <input type="radio" name="coffee_type" id="cold" value="cold" />COLD<br />
      <br />

      <label>Flavor:</label><br />
      <input type="text" size="50" name="flavor" /><br />
      <br />
      <input type="submit" value="Submit" />
    </form>
    
    <h4>All Coffee</h4>
    <ul>
      <% allcoffee.forEach(function(coffee){ %>
      <li>
        <%= coffee.doc.name %> - <%= coffee.doc.flavor %> - <%=
        coffee.doc.coffee_type %> Drink &nbsp;

        <form method="POST" action="/coffee/delete/<%= coffee.id %>">
          <input
            type="submit"
            name="delete"
            value="Delete"
            onClick="return confirm('Are you sure you want to delete?')"
          />
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="rev" value="<%= coffee.value.rev %>" />
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
